.App {
  background: var(--background-site);
  color: var(--text-color);
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  display: block;
  margin: 0;
  background-attachment: fixed;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: var(--track-scrollbar);
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.589);
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-scrollbar); 
}

h1 {
  font-size: 3em;
}


.sidenav {
  position: fixed;
  top: 0;
  background: var(--background-navbar);
  border-right: var(--border-navbar);
  width: 30%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: block;
  float: left;
  z-index: 2;
  
}

.texts {
  float: right;
  width: 70%;
  padding: 30px 70px;
  display: flex;
  z-index: 1;
}


.profile {  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  border-radius: 50%;
  border: var(--profile-border);
  margin-top: 50px;
}

.ld {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  background: var(--icone-ld);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  cursor: pointer;
}

.langen {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 35px;
  height: 35px;
  background: #ffffff00 url(../public/assets/images/en.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  cursor: pointer;
  border: var(--lang-border);
  border-radius: 50%;
}

.langen2 {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 35px;
  height: 35px;
  background: #ffffff00 url(../public/assets/images/it.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: center;
  cursor: pointer;
  border: var(--lang-border);
  border-radius: 50%;
}

.firma {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 70px;
  height: 70px;
  background: var(--firma);
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
}

.typewriter {
  width: max-content;
}

.surname {
  color: #ffb84f;
}

.typewriter .writed1 {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #ffffff00;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 2em;
  letter-spacing: .15em;
  animation: 
    typing1 2.5s steps(14) 1s 1 both,
    blink-caret2 .75s step-end 5;
}
.typewriter .writed2 {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #ffffff00;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 1em;
  letter-spacing: .15em;
  animation: 
    typing1 2s steps(7) 3.50s 1 both,
    blink-caret2 .75s 3.50s step-end 3;
}

.typewriter .writed3 {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #ffb94f00;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom: 0.7em;
  font-size: 5em;
  letter-spacing: .15em;
  animation: 
    typing1 2s steps(8) 5.50s 1 both,
    blink-caret1 .75s 5.50s step-end infinite;
}


/* The typing effect */
@keyframes typing1 {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret1 {
  from, to { border-color: transparent }
  50% { border-color: #ffb84f; }
}
@keyframes blink-caret2 {
  from, to { border-color: transparent }
  50% { border-color: var(--secondary); }
}


.buttons {
  width: 100%;
  justify-content: left;
  flex-direction: column;
  margin-top: 350px;
}

.btn {		
position: relative;	
padding: 1.4rem 4.2rem;
padding-right: 3.1rem;
font-size: 1.4rem;
color: var(--secondary);
letter-spacing: 1.1rem;
text-transform: uppercase;
transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
cursor: pointer;
user-select: none;
}

.btn:before, .btn:after {
content: '';
position: absolute;	
transition: inherit;
z-index: -1;
}

.btn:hover {
color: var(--primary);
transition-delay: .5s;
}

.btn:hover:before {
transition-delay: 0s;
}

.btn:hover:after {
background: var(--secondary);
transition-delay: .35s;
}

.active {
  background: var(--secondary);
  color: var(--primary);
  border-color: var(--secondary);
}


/* Menù hover effect animation */

.button1:before, 
.button1::after,
.button2:before, 
.button2::after,
.button3:before, 
.button3::after,
.button4:before, 
.button4::after,
.button5:before, 
.button5::after,
.button6:before, 
.button6::after {
top: 0;
width: 0;
height: 100%;
}

.button1:before,
.button2:before,
.button3:before,
.button4:before,
.button5:before,
.button6:before {
left: 0;
border: 1px solid var(--secondary);
border-left: 0;
border-right: 0;	
}

.button1:after,
.button2:after,
.button3:after,
.button4:after,
.button5:after,
.button6:after {
right: 0;
}

.button1:hover:before,
.button1:hover:after,
.button2:hover:before,
.button2:hover:after,
.button3:hover:before,
.button3:hover:after,
.button4:hover:before,
.button4:hover:after,
.button5:hover:before,
.button5:hover:after,
.button6:hover:before,
.button6:hover:after {
width: 100%;
}


*, *:before, *:after {
box-sizing: border-box;
}

.headexp{
  margin-bottom: 150px;
}

.expbox{
  width: 40%;
  padding: 30px;
  border-radius: 10px;
  color: var(--secondary);
  display: block;
  margin: -90px 0px;
  position: relative;
  background: #f00;
}

.expbox:nth-child(even){
  margin-left: auto;
}

.expbox:nth-child(even):before{
  content: '';
  position: absolute;
  left: -27%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.expbox:nth-child(even):after{
  content: '';
  position: absolute;
  left: -20%;
  top: 50%;
  transform: translateY(-50%);
  width: 17%;
  height: 2px;
  background: var(--secondary);
  z-index: -1;
}

.expbox:nth-child(odd):before{
  content: '';
  position: absolute;
  right: -27%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.expbox:nth-child(odd):after{
  content: '';
  position: absolute;
  right: -20%;
  top: 50%;
  transform: translateY(-50%);
  width: 17%;
  height: 2px;
  background: var(--secondary);
  z-index: -1;
}

.expbox:nth-child(1), .expbox:nth-child(1):before{
  background: #ff4f4f;
}
.expbox:nth-child(2), .expbox:nth-child(2):before{
  background: #ffb84f;
}
.expbox:nth-child(3), .expbox:nth-child(3):before{
  background: #3dca5c;
}
.expbox:nth-child(4), .expbox:nth-child(4):before{
  background: #565252;
}
.expbox:nth-child(5), .expbox:nth-child(5):before{
  background: #4fa0ff;
  margin-bottom: 50px;
}

.expbox:nth-child(1) .expbox-card:before{
  display: none;
}

.expbox:nth-child(even) .expbox-card:before{
  content: '';
  position: absolute;
  left: -25.5%;
  top: 0;
  width: 0px;
  height: 40%;
  border: 1px dashed var(--secondary);
  z-index: -1;
}

.expbox:nth-child(odd) .expbox-card:before{
  content: '';
  position: absolute;
  right: -25.5%;
  top: 0;
  width: 0px;
  height: 40%;
  border: 1px dashed var(--secondary);
  z-index: -1;
}

.expbox-title{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.expbox-content{
  text-align: justify;
}
@media screen and (max-width: 1200px) {
  h1 {
      font-size: xx-large;
  }

  .typewriter .writed3 {
      font-size: 3em;
  }
  
  .sidenav {
      background: var(--background-navbar);
      border-bottom: var(--border-navbar);
      border-right: none;
      width: 100%;
      height: 20%;
      backdrop-filter: blur(5px);
      position: sticky;
      display: block;
  }

  .texts {
      padding-top: 40px;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
  }

  .ld {
      top: 10px;
      right: 20px;
  }

  .langen {
      top: 10px;
      right: 70px;
  }

  .langen2 {
      top: 10px;
      right: 70px;
  }

  .profile {
    position: relative;
  }

  .buttons {
    margin-top: 25px;
  }

  .firma {
      display: none;
  }

  .profile {
      width: 100px;
      margin-top: 20px;
  }

  .headexp {
    margin-bottom: 20px
  }
  .expbox{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    color: var(--secondary);
    display: block;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    background: #f00;
  }

  .expbox:nth-child(even){
    margin-left: 0;
  }

  .expbox:nth-child(even):before{
    display: none;
  }

  .expbox:nth-child(even):after{
    display: none;
  }

  .expbox:nth-child(odd):before{
    display: none;
  }

  .expbox:nth-child(odd):after{
    display: none;
  }


  .expbox:nth-child(even) .expbox-card:before{
    display: none;
  }

  .expbox:nth-child(odd) .expbox-card:before{
    display: none;
  }

}